[submodule "node-compat-table"]
	path = node-compat-table
	url = https://github.com/williamkapke/node-compat-table.git
[submodule "browser-compat-data"]
	path = browser-compat-data
	url = git@github.com:jcsahnwaldt/browser-compat-data.git
